<div class="col-md-8 col-xs-8 col-sm-12" style="margin-top: 15px;">
  <div class="form-group">
    <label for="phone">{{ inputField.label }}</label>
    <input type="tel" class="form-control" id="phone"
     [placeholder]="inputField.placeHolder" [name]="inputField.name" [required]="inputField.Validation" min="11" max="11"  ngModel #vlaidationPhone="ngModel">
     <span class="text-danger" *ngIf="inputField.Validation && (!vlaidationPhone.valid || vlaidationPhone.touched)">please check your input</span>

  </div>
</div>