<div class="col-md-8 col-xs-8 col-sm-12" style="margin-top: 15px;">
  <div class="form-group">
    <label for="formGroupExampleInput">{{ inputField.label }}</label> <label *ngIf="inputField.Validation" class="text-danger">*</label>
    <input type="text" required #input="ngModel" class="form-control" [required]="inputField.Validation" [name]="inputField.name" ngModel #validation="ngModel" id="formGroupExampleInput" [placeholder]="inputField.placeHolder">

    <span class="text-danger" *ngIf="inputField.Validation && (!validation.valid || validation.touched)">This field Can't be null</span>
  </div>
</div>