<div class="col-md-8 col-xs-8 col-sm-12" style="margin-top: 15px;"> 
  <div class="form-group" *ngIf="inputField">
    <label for="mail">{{ inputField?.label }}</label><label *ngIf="inputField.Validation" class="text-danger">*</label>
    <input type="email" class="form-control" [required]="inputField.Validation" email #email="ngModel" id="{{inputField.name}}" placeholder="{{inputField.placeHolder}}" [(ngModel)]="inputField.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
    <span class="text-danger" *ngIf="inputField.Validation && (!email.valid || email.touched)">Please enter your email correctly</span>

  </div>
</div>